!!! 5
%html
	%head
		%title Login/Register form Cabify
	%body
		.mainWrapper
			%section.mainContent
				%header
					%a.logo
					%span Your private car driver
				.access
					%a Register
					%a Log In
					%p or
					%a Log in with Rakuten
			%aside.secContent
